*
{
  margin: 5px;
  background-color: lightgoldenrodyellow;
  font-family: 'Times New Roman', Times, serif;
}

.section1
{
  width:100%;
  height: 50%;
}
.head
{
  display: flex;
  justify-content: space-between;
}
.head-container {
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 
}

.head-container > div
 {
  height: 20vh;
  display: flex;
  padding: 5px;
 align-self: flex-end;
}
.head img
{
  width: 20vh;
  border-radius: 40%;
  align-items: center;
  display: flex;
  
}
@media (max-width: 800px) {
  .head-container {
    flex-direction: column;
  }
}
.section2
{
  margin:10px ;
  display: flex;
  justify-content: space-between;
}
.leftdiv
{
/* background-color: rgb(184, 218, 238); */
width: 70vw;
}
.rightdiv
{
/* background-color: rgb(206, 230, 99); */
width: 30vw;
}
hr
{
  height:2px;
  border-width:0;
 box-shadow: -2px -2px 5px 2rgb(92, 53, 184);
  background-color:rgb(158, 6, 6) 
}
